{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "CastArray": {
            "ignore": [
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::__construct"
            ]
        },
        "Identical": {
            "ignore": [
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::ObtainWhoopsRunner"
            ]
        },
        "LessThan": {
            "ignore": [
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::ObtainWhoopsRunner"
            ]
        },
        "LessThanNegotiation": {
            "ignore": [
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::ObtainWhoopsRunner"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::__construct",
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::ObtainWhoopsRunner"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::handle",
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::ObtainWhoopsRunner",
                "SignpostMarv\\DaftFramework\\Logging\\Framework::__construct"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::ObtainWhoopsRunner",
                "SignpostMarv\\DaftFramework\\Logging\\CatchingHttpHandler::ValidateHandlerConfig"
            ]
        }
    }
}
